*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: white;
}

#header{
    width:100%;
    height: 75px;
    background-color: #004aad;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    background-color: none;
    background-image: url('media/escudoESCOM.png');
    background-size: 100% 100%;
}

#header #logo{
    width: 5%;
    height: 75px;
    float: left;
    border-radius: 1em;
    margin-top: 2px;
    margin-left: 15px;
}

.nav{
    width: 100%;
    margin:auto;
    background-color: #ebebeb;
}

.nav ul{ /*selector descendente sin viñeta*/
    list-style: none;
    text-align: center;
}

.menu>li{
    display: inline-block;
}

.menu>li>a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu li a:hover{/*selector de subclase en accion sobre de el elemento*/
    color: #bdb76b;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #ebebeb;
    width: auto;
    display: none;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: darkslategrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{/*se aplica la  accion de sobre de para los submenus*/
    display: block;
}

.submenu li a:hover{
    font-size: large;
}

#content {
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cont1, #cont2, #cont3 {
    height: 75%;
    width: 25%;
    border-radius: 1em;
    background-color: #ebebeb;
    margin-top: 40px;
    text-align: center;
}

#cont1{
    margin-left: 50px;
}
#cont3{
    margin-right: 50px;
}